/* For testing only */

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/
body {
  background: grey;
}
.columns {
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.8)
}

/* End for testing */
* {
  box-sizing: border-box;
}
.container {
  width: 98%;
  margin: 0 auto;
}
.main {
  height: 50vh;
}
.wrap {
  height: 50vh;
}
.secondary {
  height: 50%;
  margin: 10px 0 0;
}
#extra {
  display: none;
}
/*Media Queries*/
@media screen and (min-width: 612px) {
  .secondary {
    width: 47.5%;
    height: 100%;
    float: left;
  }
  #leftcol {
    margin-right: 2.5%;
  }
  #rightcol {
    margin-left: 2.5%;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    width: 68%;
    height: 100%;
    float: left;
  }
  .wrap {
    width: 30%;
    height: 100%;
    float: right;
  }
  .secondary {
    width: 100%;
    height: 47.5%;
  }
  #leftcol, #rightcol {
    margin: 0;
  }
  #extra {
    display: inline-block;
    height: 5%;
    width: 100%;
  }
}