/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 50px;
}

/* End for testing */
* {
  box-sizing: border-box;
}
.container {
  width: 98%;
  margin: 0 auto;
}
.main {
  height: 50vh;
}
.wrap {
  height: 50vh;
  border: 1px red solid;
}
.secondary {
  min-height: 50%;
  margin: 10px 0;
  border: 1px blue solid;
}